In [1]:
# Create dependencies and create variable
import pandas as pd
import numpy as np

In [17]:
# Read csv file and display table
players = pd.read_json('Resources/purchase_data.json', orient='table')
players.head(10)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92

In [22]:
# Filter dataframe using groupby on 'SN'
group_players = players.loc[players['SN'] == 'Aela59', :]
group_players

   Age Gender  Item ID       Item Name  Price      SN
4   23   Male       63  Stormfury Mace   1.27  Aela59

In [18]:
# Confirm dataframe
type(players)

pandas.core.frame.DataFrame

In [19]:
# Remove rows with missing data (if any)
filtered_players = players.dropna(how='any')
filtered_players.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [7]:
# Display dataframe information
filtered_players.dtypes

Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
SN            object
dtype: object

In [8]:
# Display total number of players
total_players = filtered_players["SN"].nunique()
total_players

573

In [9]:
# Establish player count variables
total_players = 573
message1 = '* Total Number of Players -- %s'

In [10]:
# Print information for total number of players
print('**Player Count**')
print()
print(message1 % (total_players))

**Player Count**

* Total Number of Players -- 573

In [9]:
# Calculate items for Purchasing Analysis (Total)
iso_items = filtered_players["Item ID"].value_counts()
iso_items

84     11
39     11
31      9
34      9
175     9
13      9
106     8
44      8
92      8
65      8
152     8
107     8
172     7
179     7
115     7
154     7
79      7
158     7
108     7
66      7
11      7
130     7
18      7
124     6
103     6
101     6
121     6
102     6
73      6
145     6
       ..
116     2
89      2
64      2
9       2
167     2
80      2
74      2
72      2
146     2
149     2
150     2
178     2
62      2
58      2
56      2
55      2
4       1
2       1
3       1
59      1
28      1
168     1
164     1
43      1
156     1
147     1
136     1
126     1
109     1
0       1
Name: Item ID, Length: 183, dtype: int64

In [10]:
# Calculate average purchase price

In [ ]:
# Report sample that reads in data
#print("The mean height of WBA players is {}.".format(wba_heights.mean()))
#print("The mean height of women sampled is {}.".format(general_heights.values.mean()))

In [11]:
# Establish purchasing analysis variables
iso_items = ''
avg_price = ''
total_purchase = ''
total_revenue = ''
message2 = '* Number of Unique Items -- %s'
message3 = '* Average Purchase Price -- %s'
message4 = '* Total Number of Purchases -- %s'
message5 = '* Total Revenue -- %s'

In [12]:
# Print information for 'Purchasing Analysis 
print('** Purchasing Analysis (Total)**')
print()
print(message2 % (iso_items))
print(message3 % (avg_price))
print(message4 % (total_purchase))
print(message5 % (total_revenue))

** Purchasing Analysis (Total)**

* Number of Unique Items -- 183
* Average Purchase Price -- 18
* Total Number of Purchases -- 20
* Total Revenue -- 22

In [10]:
# Establish gender demographics variables
per_male = ''
count_male = ''
per_female = ''
count_female = ''
per_other = ''
count_other = ''
message6 = '* Percentage and Count of Male Players -- %s'
message7 = '* Percentage and Count of Female Players -- %s'
message8 = '* Percentage and Count of Other/Non-Disclosed Players -- %s'

In [14]:
# Print information for Gender Demographics
print('**Gender Demographics**')
print()
print(message6 % (per_male), (count_male))
print(message7 % (per_female), (count_female))
print(message8 % (per_other), (count_other))

**Gender Demographics**

* Percentage and Count of Male Players --
* Percentage and Count of Female Players --
* Percentage and Count of Other/Non-Disclosed Players --

In [ ]:
# Establish gender purchasing analysis variables
purch_count_male = ''
purch_count_female = ''
purch_count_other = ''
avg_purch_price_male = ''
avg_purch_price_female = ''
avg_purch_price_other = ''
total_purch_male = ''
total_purch_female = ''
total_purch_other = ''
norm_total_male = ''
norm_total_female = ''
norm_total_other = ''
message9 = '* Purchase Count Male -- %s'
message10 = '* Purchase Count Female -- %s'
message11 = '* Purchase Count Other/Non-Disclosed -- %s'
message12 = '* Average Purchase Price Male -- %s'
message13 = '* Average Purchase Price Female -- %s'
message14 = '* Average Purchase Price Other/Non-Disclosed -- %s'
message15 = '* Total Purchase Value Male -- %s'
message16 = '* Total Purchase Value Female -- %s'
message17 = '* Total Purchase Value Other/Non-Disclosed -- %s'
message18 = '* Normalized Totals Male -- %s'
message19 = '* Normalized Totals Female -- %s'
message20 = '* Normalized Totals Other/Non-Disclosed -- %s'

In [19]:
# Print information for Purchasing Analysis (Gender)
print('**Purchasing Analysis (Gender)**')
print()
print(message9 % ())
print(message10 % ())
print(message11 % ())
print()
print(message12 % ())
print(message13 % ())
print(message14 % ())
print()
print(message15 % ())
print(message16 % ())
print(message17 % ())
print()
print(message18 % ())
print(message19 % ())
print(message20 % ())

**Purchasing Analysis (Gender)

* Purchase Count Male --
* Purchase Count Female --
* Purchase Count Other/Non-Disclosed --

* Average Purchase Price Male --
* Average Purchase Price Female --
* Average Purchase Price Other/Non-Disclosed --

* Total Purchase Value Male --
* Total Purchase Value Female --
* Total Purchase Value Other/Non-Disclosed --

* Normalized Totals Male --
* Normalized Totals Female --
* Normalized Totals Other/Non-Disclosed --

In [13]:
# Establish age demographics variables
purchase_count = ''
avg_purchase_price = ''
total_purchase_value = ''
norm_totals = ''
message21 = '* Purchase Count -- %s'
message22 = '* Average Purchase Price -- %s'
message23 = '* Total Purchase Value -- %s'
message24 = '* Normalized Totals -- %s'

In [14]:
# Print information for Age Demographics
print('**Age Demographics**s')
print()
print(message21 % (purchase_count))
print(message22 % (avg_purchase_price))
print(message23 % (total_purchase_value))
print(message24 % (norm_totals))

**Age Demographics**s

* Purchase Count -- 1
* Average Purchase Price -- 2
* Total Purchase Value -- 3
* Normalized Totals -- 4

In [ ]:
# save output to excel
#df.to_excel("Resources/purchase_data_complete.xlsx", index=FALSe)