In [1]:
# Create dependencies and create variable
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#spaces = ' ' * 5

In [2]:
# Read csv file and display table
players = pd.read_json('purchase_data.json', orient='columns')
players.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
# Check to see if there is any missing data
players.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [4]:
# Display dataframe information
players.dtypes

Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
SN            object
dtype: object

In [9]:
# Convert the Gender column to a float
players["Gender"] = pd.to_numeric(players["Gender"], errors='ignore')
players.dtypes

Age            int64
Gender       float64
Item ID        int64
Item Name     object
Price        float64
SN            object
dtype: object

In [13]:
players["Gender"].sum()

0.0

In [14]:
# Display total number of players
total_players = players["Gender"].value_counts()
total_players

Series([], Name: Gender, dtype: int64)

In [15]:
total_players.sum()

0

In [21]:
# Print information for total number of players
print('**Player Count**')
print()
print('* Total Number of Players --') == '%s total_players.sum()'

**Player Count**

* Total Number of Players --

False