In [1]:
# Create dependencies and create variable
import pandas as pd
import numpy as np

In [2]:
# Read csv file and display table
players = pd.read_json('Resources/purchase_data.json', orient='columns')
players.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
# Remove rows with missing data (if any)
filtered_players = players.dropna(how='any')
filtered_players.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [4]:
# Display dataframe information
filtered_players.dtypes

Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
SN            object
dtype: object

In [5]:
# Display total number of players
total_players = filtered_players["Gender"].value_counts()
total_players

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [6]:
total_players.sum()

780

In [7]:
# Establish player count variables
total_players = 780
message1 = '* Total Number of Players -- %s'

In [8]:
# Print information for total number of players
print('**Player Count**')
print()
print(message1 % (total_players))

**Player Count**

* Total Number of Players -- 780

In [9]:
# Calculate items for Purchasing Analysis (Total)
iso_items = filtered_players["Item ID"].value_counts()
iso_items

84     11
39     11
31      9
34      9
175     9
13      9
106     8
44      8
92      8
65      8
152     8
107     8
172     7
179     7
115     7
154     7
79      7
158     7
108     7
66      7
11      7
130     7
18      7
124     6
103     6
101     6
121     6
102     6
73      6
145     6
       ..
116     2
89      2
64      2
9       2
167     2
80      2
74      2
72      2
146     2
149     2
150     2
178     2
62      2
58      2
56      2
55      2
4       1
2       1
3       1
59      1
28      1
168     1
164     1
43      1
156     1
147     1
136     1
126     1
109     1
0       1
Name: Item ID, Length: 183, dtype: int64

In [10]:
# Calculate average purchase price

In [11]:
# Establish purchasing analysis variables
iso_items = 183
avg_price = 18
total_purchase = 20
total_revenue = 22
message2 = '* Number of Unique Items -- %s'
message3 = '* Average Purchase Price -- %s'
message4 = '* Total Number of Purchases -- %s'
message5 = '* Total Revenue -- %s'

In [12]:
# Print information for 'Purchasing Analysis 
print('** Purchasing Analysis (Total)**')
print()
print(message2 % (iso_items))
print(message3 % (avg_price))
print(message4 % (total_purchase))
print(message5 % (total_revenue))

** Purchasing Analysis (Total)**

* Number of Unique Items -- 183
* Average Purchase Price -- 18
* Total Number of Purchases -- 20
* Total Revenue -- 22

In [18]:
# Print information for Gender Demographics
print('**Gender Demographics**')
print()
print('* Percentage and Count of Male Players --')
print('* Percentage and Count of Female Players --')
print('* Percentage and Count of Other/Non-Disclosed Players --')

**Gender Demographics**

* Percentage and Count of Male Players --
* Percentage and Count of Female Players --
* Percentage and Count of Other/Non-Disclosed Players --

In [19]:
# Print information for Purchasing Analysis (Gender)
print('**Purchasing Analysis (Gender)**')
print()
print('* Purchase Count Male --')
print('* Purchase Count Female --')
print('* Purchase Count Other/Non-Disclosed --')
print()
print('* Average Purchase Price Male --')
print('* Average Purchase Price Female --')
print('* Average Purchase Price Other/Non-Disclosed --')
print()
print('* Total Purchase Value Male --')
print('* Total Purchase Value Female --')
print('* Total Purchase Value Other/Non-Disclosed --')
print()
print('* Normalized Totals Male --')
print('* Normalized Totals Female --')
print('* Normalized Totals Other/Non-Disclosed --')

**Purchasing Analysis (Gender)

* Purchase Count Male --
* Purchase Count Female --
* Purchase Count Other/Non-Disclosed --

* Average Purchase Price Male --
* Average Purchase Price Female --
* Average Purchase Price Other/Non-Disclosed --

* Total Purchase Value Male --
* Total Purchase Value Female --
* Total Purchase Value Other/Non-Disclosed --

* Normalized Totals Male --
* Normalized Totals Female --
* Normalized Totals Other/Non-Disclosed --

In [13]:
# Establish age demographics variables
purchase_count = 1
avg_purchase_price = 2
total_purchase_value = 3
norm_totals = 4
message18 = '* Purchase Count -- %s'
message19 = '* Average Purchase Price -- %s'
message20 = '* Total Purchase Value -- %s'
message21 = '* Normalized Totals -- %s'

In [14]:
# Print information for Age Demographics
print('**Age Demographics**s')
print()
print(message18 % (purchase_count))
print(message19 % (avg_purchase_price))
print(message20 % (total_purchase_value))
print(message21 % (norm_totals))

**Age Demographics**s

* Purchase Count -- 1
* Average Purchase Price -- 2
* Total Purchase Value -- 3
* Normalized Totals -- 4

In [ ]:
# save output to excel
#df.to_excel("Resources/purchase_data_complete.xlsx", index=FALSe)